body{
  background-color:gray;
  padding:0;
  margin:0;
}


.header {
  TOP: 0px;
  width: 100%;
  padding: 5px 0 5px 0;
  color: floralwhite;
  background-color: aquamarine;
  text-align: center;
  color: black;
  float: left;  
}

.content {

  float: left;

  width:100%;

}


.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 5px 0 5px 0;
  color: floralwhite;
  background-color: aquamarine;
  text-align: center;
  color: black;
  
}

.loginbox{

  float:left;

  margin-left:35%;

  text-align:center;

}



.formelementc {

  float: left;

  width: 100%;

  margin-top:1%;  

}

.formelement {

  height: 35px;

  width: 100%;

  padding: 4px;

  border-radius: 10px;

  border: 2px solid aquamarine;

}



.button {

  height: 30px;

  border-radius: 2px;

  background-color: aquamarine;

  color: brown;

  border-radius: 10px;

  border: 2px solid aquamarine;

}



a {

  text-decoration: none;

  color: white;

}

  a:hover {

    text-decoration: underline;

    color: blue;

  }

  .gohome{
    float:left;
    margin-left: 1%;;
    color: black;
  }


  .loginbstatus{
    float:right;
    margin-right: 1%;;
  }
  a.logout{
    color: black;
  }

  .logout:hover{
    color: red;
  }

  .eventimg{
    height: 60px;
    width: 60px;
  }

  .eventstable{

    width:100%;
  }

  .eventstable tr{
    background-color:#708090;
  }
  .eventstable tr.even{
    background-color:#818589;
  }

  .eventstable tr.odd{
    background-color:#D3D3D3;
  }

  td.ename{
    width:40%;
  }

  th.other, td.other{
    width:17%;
    text-align: left;
  }

  td.epic{
    width:17%;
    text-align: center;
  }
  .logo{
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    height: 20px;
    width: 20px;
  }

  .homepic{
    float: left;
    height: 150px;
    width: 31%;
    margin: 1%;
  }

  .homepic>img{
    width: 100%;
    height:150px;
  }

  .registrtionform {
    float:left;
    width:50%;
  }

  .registrationbutton{
    width:19%;
  }

  .welcomemenu{
    color:red;

  }
  .logoutmenu{
    color:yellow;

  }

  .othermenu{
    color:blueviolet;

  }

